body {
  margin-bottom: 40px;
  margin: 0;
  display: "inline-flex";
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 700px;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.app {
  text-align: center;
}

.buttonName{
  color: brown;
  padding: 12px;
}
.app-display{
  background-color: black;
  color: white;
  text-align: right;
  padding: 40px;
  align-items: flex-end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.buttons{
  background:  #d6d3d3;
 display: inline-flex;
   
}

.button-style{
  color: red;
}